html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  animation: fadeIn 3000ms ease;
  font-size: 1.75em;
  scroll-behavior: smooth;
  color: #1B2A41;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



.wrapper {
  position: relative;
  margin: 0;
  background: #edecee;
  z-index: 1;
}

.node {
  margin: 0 auto;
  padding: 2em 0;
  position: relative;
  width: 90%;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1200px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.break {
  height: 2px;
  width: 90%;
  background-color: #406E8E;
  margin: 0 auto;
  max-width: 1200px;
}

.title {
  text-align: center;
  font-size: 1em;
  padding-bottom: 1.5em;
}

/* =========NAVIGATION========= */



#toggle-menu {
  display: none;
}

#toggle-menu:checked ~ ul {
  display: flex;

}


#toggle-menu:checked ~ #hamburger span::before {
  transform: rotate(45deg);
  top: 0;
}

#toggle-menu:checked ~ #hamburger span {
  background-color: transparent;
}

#toggle-menu:checked ~ #hamburger span::after {
  transform: rotate(-45deg);
  top: 0;
}

.navigation {
  width: 100%;
  position: fixed;
  z-index: 3;
  display: inline-block;
}

.nav-bar {
  background: rgba(255, 255, 255, 0.6);
  /* padding: 50px 30px; */
}

.opaque-nav > .nav-bar {
  background-color: white;
  transition: background 1s;
}

#hamburger {
  /* margin-left: 40px; */
  position: absolute;
  top: 40px;
  left: 40px;
  /* margin-top: 30px; */
  width: 50px;
  height: 50px;
}

#hamburger span, #hamburger span::before, #hamburger span::after {
  height: 3px;
  width: 30px;
  display: block;
  position: absolute;
  border-radius: 1px;
  background-color: #1B2A41;
  cursor: pointer;
  transition: all 500ms ease-in-out;
  content: '';
}

#hamburger span::before {
  top: -10px;
}

#hamburger span::after {
  bottom: -10px;
}

ul.menu {
  display: none;
  height: auto;
  font-size: .5em;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 4;
}

.menu li {
  color: #1B2A41;
  padding-right: 4em;
}

.menu li:hover, .contact-media a:hover {
  color: #406E8E;
}

ul.contact-media {
  display: flex;
}

.contact-media a {
  font-size: .65em;
  padding-right: 40px;
  color: #1B2A41;
}


/* ============= HERO =========== */
.hero {
  /* text-align: center; */
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.hero-title {
  font-size: 1.5em;
  padding-top: 10em;
  color: white;
  position: relative;
  z-index: 2;
}

.under-bar {
  height: .1em;
  width: 100%;
  background-color: #406E8E;
  display: block;
  margin: .75em auto 1em auto;
  z-index: 2;
  position: relative;
}

.subtext {
  font-size: .6em;
  padding-bottom: 100px;
  position: relative;
  z-index: 2;
  color: lightgray;
}

.photo {
  height: 800px;
  position: relative;
  /* width: 50%; */
}

.overlay {
  height: 100%;
  width: 100%;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

/* =============ABOUT =========== */

.about {
  /* background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  top: 450px;
  color: white; */
  font-size: .5em;

}


/* =============SKILLS ========== */
.hidden {
  display: none;
}

.skillset {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding-top: 1em;
}

.skillset i {
  font-size: 2em;
  color: #406E8E;
  margin: 20px;
  text-align: center;
  display: inline-block;
  padding: 25px;
  border: 1px solid #406E8E;
  border-radius: 500px;
  transition: all 1s ease;
  width: 56px;
}

i.fix {
  /* padding: 25px 28px 25px 23px; */
  font-size: 1.5em;
  padding: 30px 25px;
}

.skillset i:hover {
  background: #406E8E;
  color: white;
  border-color: white;
  
}

div.skill-name {
  font-size: .5em;
  padding-top: .2em;
  color: #406E8E;
  font-weight: 400;
  text-align: center;
  text-transform: lowercase;
}

.tabgroup {
  display: none;
}

.tabs {
  text-align: center;
}

.tab {
  background: rgba(255, 255, 255, 1);
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: linear;
  cursor: pointer;
}

.tab:hover {
  border-bottom: 3px solid #1B2A41;
  color: #1B2A41;
}

.tab.active {
  background: rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid #1B2A41;
  color: #1B2A41;
}

.tabs li {
  display: inline-block;
  /* background: rgba(255, 255, 255, 0.7); */
  padding: 1em 1.5em;
  /* border-radius: 10px; */
  font-size: .65em;
  margin: .5em;
  border-bottom: 3px solid #406E8E;
  color: #406E8E;
}



/* ========== PORTFOLIO ========== */

#portfolio {
  padding: 2em 0;
}

.portfolio {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: .75em 0;
  margin-bottom: 2em;
}

.panels {
  min-height: 70vh;
  overflow: hidden;
  display: flex;
  width: 100%;
}

.panel {
  background: #1B2A41;
  align-items: center;
  text-align: justify;
  flex: 1;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition:
    font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    background 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.panel.open {
  flex: 3;
  font-size: 20px;
}

.panel1 {background-image: url(../assets/front-end.jpeg);}
.panel2 {background-image: url(../assets/back-end.jpg);}
.panel3 {background-image: url(../assets/api.jpg);}


.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.6);
}

.panel > h3 {
  font-size: 25px;
}

.panel a {
  padding: 0 20px;
  color: white;
}


.panel-content {
  display: block;
}

.panel-content li {
  list-style-type: none;
  padding-bottom: 10px;
  color: lightgray;
}


.panel-content a:hover {
  text-decoration: underline;
}

.panel > *:first-child { transform: translateY(-100%); font-size: 0px; background-color: rgba(0, 0, 0, 0);}
.panel.open-active > *:first-child { transform: translateY(0); font-size: 1rem; background-color: rgba(0, 0, 0, .6);}
.panel > *:last-child { transform: translateY(100%);
font-size: 0px; background-color: rgba(0, 0, 0, 0);}
.panel.open-active > *:last-child { transform: translateY(0);
font-size: 1rem; background-color: rgba(0, 0, 0, .6);}



/* =========FOOTER========= */

.footer {
  width: 100%;
  text-align: center;
}

.footer-things {
  justify-content: space-around;
  display: flex;
}

.contact-item {
  width: 10em;
  background: white;
  margin: 10px 0;
  padding: 30px 0;
  border-bottom: 3px solid #406E8E;
  transition: all 600ms ease;

}

.contact-item a {
  color: #406E8E;
  transition: all 600ms ease;
}

.contact-item:hover a {
  color: #1B2A41;
}

.contact-item:hover {
  border-bottom: 3px solid #1B2A41;
}

.contact-item i {
  display: block;
  font-size: 1.25em;
}

.contact-item span {
  font-size: .5em;
}

.footer #map {
  -webkit-filter: grayscale(80%); /* Safari 6.0 - 9.0 */
  filter: grayscale(80%);
  width: 55%;
  height: 415px;
  margin-top: 10px;
  position: relative;
}

.bottom-bar {
  background: #406E8E;
}

.bar-text {
  color: white;
  font-size: .5em;
  padding: 10px 0;
  text-align: center;
}

@media all and (min-width: 800px) {
  .nav-bar {
    padding: 20px 30px;
    display: flex;
  }

  #toggle-menu, label {
    display: none;
  }

  ul.menu {
    display: flex;
    top: 0;
    position: relative;
    margin: 0;
  }
}



@media all and (max-width: 800px) {

  .nav-bar {
    height: 81px;
  }

  ul.menu {
    display: none;
  }

  #toggle-menu:checked ~ ul.menu {
    display: block;
   }



  ul.menu{
    background: rgba(255, 255, 255, 0.5);
    color: #406E8E;
    position: absolute;
    top: 81px;
    left: -100vw;
    height: auto;
    width: 100%;
    padding: 1em;

    transition: all 500ms ease-in-out;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
  }

  ul.menu li {
    font-size: 2em;
  }

  ul.contact-media {
    /* background: lightgray; */
    color: #406E8E;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
  }

  ul.contact-media i {
    font-size: 1.3em;
  }

  ul.contact-media a:last-child {
    padding-right: 0;
  }

  @-webkit-keyframes slide {
      100% { left: 0; }
  }

  @keyframes slide {
      100% { left: 0; }
  }

  /* -------------------- */

  li.tab {
    font-size: .5em;
  }

  .skillset i {
    font-size: 1.5em;
    padding: 15px;
    width: 40px;
    margin: 10px;
  }

  i.fix {
    font-size: 1.3em;
    padding: 18px 16px;
  }

  .skillset .skill-name {
    text-transform: lowercase;
  }

  /* -------------------- */

  .panels {
    display: block;
  }

  .panel {
    height: 350px;
  }

  .panel > *:first-child { transform: translateY(-100%); font-size: 0px; background-color: rgba(0, 0, 0, 0);}
  .panel.open-active > *:first-child { transform: translateY(0); font-size: 1rem; background-color: rgba(0, 0, 0, .6);}
  .panel > *:last-child { transform: translateY(100%);
  font-size: 0px; background-color: rgba(0, 0, 0, 0);}
  .panel.open-active > *:last-child { transform: translateY(0);
  font-size: 1rem; background-color: rgba(0, 0, 0, .6);}

  /* -------------------- */

    .footer-things {
      display: block;
    }

    .contact-items {
      display: block;
    }

    .contact-item {
      width: 100%;
      height: 50px;
      background: white;
      margin: 10px 0;
      padding: 30px 0;
      border-bottom: 3px solid #406E8E;
    }

    .footer #map {
      margin-top: 2em;
      width: 100%;
    }


    .footer {
      display: block;
    }
  /* -------------------- */



}
